/* src/pages/HomePage.module.css */
.container {
  padding: 16px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.addressButton {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.addressButton:hover {
  background-color: #45a049;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.productCard {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .title {
    font-size: 2rem;
  }

  .productList {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 12px;
  }

  .productCard {
    width: 100%;
    max-width: 90%; /* Ограничиваем ширину на мобильных */
    margin: 0 auto; /* Центрируем карточки */
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .productList {
    width: 90%;
  }

  .productCard {
    padding: 12px;
    font-size: 0.9rem; /* Уменьшаем текст для меньших экранов */
  }
}
